{% extends '_base.html' %}
{% load static %}
{% load comment_tags %}
{% load humanize %}
{% load i18n %}

{% block page_title %}
    {% trans 'Room OverView - Colina Hotel' %}
{% endblock %}

{% block content %}
    <body>

    <!-- ========================  Room ======================== -->

    <section class="page">

        <!-- ===  Page header === -->

        <div class="page-header" style="background-image:url({% static 'assets/images/header.jpg' %})">
            <div class="container">
                <h2 class="title">{{ room.name }}</h2>
                <p>{{ room.price_per_night|intcomma:False }}</p>
            </div>
        </div>

        <div class="room">

            <!-- === Room gallery === -->

            <div class="room-gallery">
                <div class="container">
                    <div class="">

                        <!-- === slide item === -->

                        <div class="item" style="">
                            <img src="{{ room.image.url }}" alt="{{ room.name }}"/>
                        </div>


                    </div> <!--/owl-slider-->

                </div>
            </div> <!--/room-gallery-->
            <!-- === Booking === -->

            <form method="POST" action="{% url 'cart:cart_add' room.id %}">
                {% csrf_token %}

                <div class="booking booking-inner">

                    <div class="container">

                        <div class="booking-wrapper">
                            <div class="row">

                                <!--=== date arrival ===-->
                                <div class="col-xs-4 col-sm-3">
                                    <div class="date" id="dateArrival" data-text="{% trans 'Arrival' %}">
                                        <input class="datepicker" name="arrival_date"/>
                                        <div class="date-value"></div>
                                    </div>
                                </div>

                                <!--=== date departure ===-->

                                <div class="col-xs-4 col-sm-3">
                                    <div class="date" id="dateDeparture" data-text="{% trans 'Departure' %}">
                                        <input class="datepicker" name="departure_date"/>
                                        <div class="date-value"></div>
                                    </div>
                                </div>

                                <!--=== guests ===-->

                                <div class="col-xs-4 col-sm-2">

                                    <div class="guests" data-text="{% trans 'Guests' %}">
                                        <div class="result">
                                            <input class="qty-result" type="text" value="quantity" id="qty-result"
                                                   readonly="readonly"/>
                                            <div class="qty-result-text date-value" id="qty-result-text"></div>
                                        </div>

                                        <!--=== guests list ===-->

                                        <ul class="guest-list">

                                            <li class="header">
                                                {% trans 'Please choose number of guests' %} <span class="qty-apply"><i
                                                    class="icon icon-cross"></i></span>
                                            </li>

                                            <!--=== adults ===-->

                                            <li class="clearfix">

                                                <!--=== Adults value ===-->

                                                <div>
                                                    <input class="qty-amount" value="2" type="text" id="ticket-adult"
                                                           data-value="0" name="adults"/>
                                                </div>

                                                <div>
                                                    <span>{% trans 'Adults' %} <small>{% trans '16+ years' %}</small></span>
                                                </div>

                                                <!--=== Add/remove quantity buttons ===-->

                                                <div>
                                                    <input class="qty-btn qty-minus" value="-" type="button"
                                                           data-field="ticket-adult"/>
                                                    <input class="qty-btn qty-plus" value="+" type="button"
                                                           data-field="ticket-adult"/>
                                                </div>

                                            </li>

                                            <!--=== children ===-->

                                            <li class="clearfix">

                                                <!--=== Children value ===-->

                                                <div>
                                                    <input class="qty-amount" value="0" type="text" id="ticket-children"
                                                           data-value="0" name="children"/>
                                                </div>

                                                <!--=== Label ===-->

                                                <div>
                                                    <span>{% trans 'Children' %} <small>{% trans '2-11 years' %}</small></span>
                                                </div>


                                                <!--=== Add/remove quantity buttons ===-->

                                                <div>
                                                    <input class="qty-btn qty-minus" value="-" type="button"
                                                           data-field="ticket-children"/>
                                                    <input class="qty-btn qty-plus" value="+" type="button"
                                                           data-field="ticket-children"/>
                                                </div>

                                            </li>

                                            <!--=== Infants ===-->

                                            <li class="clearfix">

                                                <!--=== Infants value ===-->

                                                <div>
                                                    <input class="qty-amount" value="0" type="text" id="ticket-infants"
                                                           data-value="0" name="infants"/>
                                                </div>

                                                <!--=== Label ===-->

                                                <div>
                                                    <span>{% trans 'Infants' %} <small>{% trans 'Under 2 years' %}</small></span>
                                                </div>

                                                <!--=== Add/remove quantity buttons ===-->

                                                <div>
                                                    <input class="qty-btn qty-minus" value="-" type="button"
                                                           data-field="ticket-infants"/>
                                                    <input class="qty-btn qty-plus" value="+" type="button"
                                                           data-field="ticket-infants"/>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!--=== button ===-->
                                <div class="col-xs-12 col-sm-4">
                                    <button type="submit" class="btn btn-clean">
                                        {% trans 'Book now' %}
                                        <small>{% trans 'Best Prices Guaranteed' %}</small>
                                    </button>
                                </div>


                            </div> <!--/row-->
                        </div><!--/booking-wrapper-->
                    </div> <!--/container-->
                </div> <!--/booking-->
            </form>


            <!-- ===  Room overview === -->

            <div class="room-overview">

                <div class="container">
                    <div class="row">

                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                            <!-- === Room aminities === -->

                            <div class="room-block room-aminities">

                                <h2 class="title">{% trans 'Room amenities' %}</h2>

                                <div class="row">

                                    <!--=== item ===-->

                                    <div class="col-xs-6 col-sm-2">
                                        <figure>
                                            <figcaption>
                                                <span class="hotelicon hotelicon-air-condition"></span>
                                                <p>{% trans 'Aircondition' %}</p>
                                            </figcaption>
                                        </figure>
                                    </div>

                                    <!--=== item ===-->

                                    <div class="col-xs-6 col-sm-2">
                                        <figure>
                                            <figcaption>
                                                <span class="hotelicon hotelicon-king-bed"></span>
                                                <p>{% trans '1 Kingsize bed' %}</p>
                                            </figcaption>
                                        </figure>
                                    </div>

                                    <!--=== item ===-->

                                    <div class="col-xs-6 col-sm-2">
                                        <figure>
                                            <figcaption>
                                                <span class="hotelicon hotelicon-guest"></span>
                                                <p>{% trans '2 People' %}</p>
                                            </figcaption>
                                        </figure>
                                    </div>

                                    <!--=== item ===-->

                                    <div class="col-xs-6 col-sm-2">
                                        <figure>
                                            <figcaption>
                                                <span class="hotelicon hotelicon-wifi"></span>
                                                <p>{% trans 'Internet' %}</p>
                                            </figcaption>
                                        </figure>
                                    </div>

                                    <!--=== item ===-->

                                    <div class="col-xs-6 col-sm-2">
                                        <figure>
                                            <figcaption>
                                                <span class="hotelicon hotelicon-washer"></span>
                                                <p>{% trans 'Washer' %}</p>
                                            </figcaption>
                                        </figure>
                                    </div>

                                    <!--=== item ===-->

                                    <div class="col-xs-6 col-sm-2">
                                        <figure>
                                            <figcaption>
                                                <span class="hotelicon hotelicon-roomservice"></span>
                                                <p>{% trans 'Room service' %}</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>

                            </div>

                            <!-- === Room block === -->

                            <div class="room-block">
                                <h2 class="title">{% trans 'Room overview' %}</h2>
                                <p>
                                    {{ room.description }}
                                </p>
                            </div>

                            <!-- === Room block === -->

                            <div class="room-block">

                                <h2 class="title">{% trans 'House rules' %}</h2>

                                <!-- === box === -->

                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><strong>{% trans 'Check-In' %}</strong></p>
                                        </div>
                                        <div class="col-md-8">
                                            <p>14:00 - 22:00</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- === box === -->

                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><strong>{% trans 'Check-out' %}</strong></p>
                                        </div>
                                        <div class="col-md-8">
                                            <p>14:00 - 22:00</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- === box === -->

                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><strong>{% trans 'Luggage storage' %}</strong></p>
                                        </div>
                                        <div class="col-md-8">
                                            <p>14:00 - 22:00</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- === box === -->

                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><strong>{% trans 'Cancellation/prepayment' %}</strong></p>
                                        </div>
                                        <div class="col-md-8">
                                            <p>
                                               {% trans ' Cancellation and prepayment policies vary according to room type. Pleaseenter the dates of your stay and check the conditions of your requiredroom.' %}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!-- === box === -->

                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><strong>{% trans 'Children and extra beds' %}</strong></p>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{% trans 'All children are welcome.' %}</p>
                                            <p>{% trans 'One child under 6 years is charged EUR 50 per night when using existing beds.' %}</p>
                                            <p>{% trans 'There is no capacity for extra beds in the room.' %}</p>
                                            <p>{% trans 'Supplements are not calculated automatically in the total costs and will have to be paid for separately during your stay.' %}</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- === box === -->

                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><strong>{% trans 'Pets' %}</strong></p>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{% trans 'Pets are not allowed.' %}</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- === box === -->

                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><strong>{% trans 'Additional info' %}</strong></p>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{% trans 'Please note that the restaurant is closed each Sunday.' %}</p>
                                            <p>{% trans 'The restaurant will also be closed during Christmas (25-26 December).' %}</p>
                                            <p>{% trans 'Please note that parking spaces cannot be reserved or guaranteed.' %}</p>
                                            <p>
                                                {% trans 'For a group booking more than 5 rooms up to 4 weeks prior to arrival cancellation is' %}
                                                {% trans '100% free of charge, within 2 until 4 weeks 50% free of charge, and within 2 weeks the' %}
                                                {% trans 'property will charge you in full. Please note that Ozo hotel always charges city tax' %}
                                                {% trans 'prior to your arrival with the non-refundable rate or group booking.' %}
                                            </p>
                                            <p>
                                                {% trans 'Please note that the credit card that is used for the booking needs to be present at check-in.' %}
                                                {% trans 'When this credit card is not available please bring a photocopy of the credit card with' %}
                                                {% trans 'authorization of the owner.' %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- === room comments === -->

                            <div class="comments">

                                <!-- === comment header === -->

                                <div class="comment-header">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>

                                <div class="comment-wrapper">

                                    <!-- === comment === -->
                                    {% for comment in room.comments.all|only_active_comments %}
                                        <div class="comment-block">
                                            <div class="comment-user">
                                                <div><img src="assets/images/user-2.jpg"
                                                          width="70"/></div>
                                                <div>
                                                    <h5>
                                                        {{ comment.author.username }}
                                                        <a href="#" class="btn btn-sm btn-main pull-right"><i
                                                                class="fa fa-reply"></i> Reply</a>
                                                        <small>{{ comment.date_created }}</small>
                                                    </h5>
                                                </div>
                                            </div>

                                            <!-- comment description -->

                                            <div class="comment-desc">
                                                <p>
                                                    {{ comment.body }}
                                                </p>
                                            </div>

                                            <!-- comment reply -->

                                            {% for reply in comment.replies.all %}
                                                <div class="comment-block">
                                                    <div class="comment-user">
                                                        <div><img src="assets/images/user-2.jpg"
                                                                  width="70"/></div>
                                                        <div>
                                                            <h5>
                                                                {{ reply.user.username }}
                                                                <a href="#" class="btn btn-sm btn-main pull-right"><i
                                                                        class="fa fa-reply"></i> {% trans 'Reply' %}</a>
                                                                <small>{{ reply.date_created }}</small>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="comment-desc">
                                                        <p>
                                                            {{ comment.body }}
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <!--/reply-->
                                        </div>

                                    {% endfor %}


                                </div><!--/comment-wrapper-->

                                <div class="comment-header">
                                    <div class="btn btn-clean-dark">{{ room.comments.all|only_active_comments|length }}</div>
                                </div> <!--/comment-header-->
                                <!-- === add comment === -->

                                <div class="comment-add">

                                    <div class="comment-reply-message">
                                        <div class="h3 title">{% trans 'Leave a Reply' %}</div>
                                        <p>{% trans 'Your email address will not be published.' %}</p>
                                    </div>

                                    {% if user.is_authenticated %}

                                        <form action="{% url 'comment_create' room.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                                        <textarea rows="10" class="form-control"
                                                                                  name="body"
                                                                                  placeholder="{% trans 'Your comment' %}"
                                                                                  required="required"></textarea>
                                            </div>
                                            <div class="clearfix text-center">
                                                <input type="submit" class="btn btn-main" value="{% trans 'Add comment' %}"/>
                                            </div>
                                        </form>
                                    {% else %}
                                        <p>{% trans 'If you want to comment, you must' %}<a
                                                href="{% url 'account_login' %}">{% trans 'Login' %}</a></p>
                                    {% endif %}

                                </div><!--/comment-add-->
                            </div> <!--/comments-->
                        </div> <!--/col-sm-10-->
                    </div> <!--/row-->
                </div> <!--/container-->
            </div> <!--/room-overview-->
        </div>

    </section>

    </body>

{% endblock %}