{% extends '_base.html' %}
{% load static %}

{% block page_title %}
    List Of Rooms
{% endblock %}


{% block content %}
    
<body>

    <div class="page-loader"></div>

    <div class="wrapper">
        <!-- ========================  Header content ======================== -->

        <section class="frontpage-slider">
            <div class="owl-slider owl-slider-header owl-slider-fullscreen">

                <!-- === slide item === -->

                <div class="item" style="background-image:url(assets/images/slide-3.jpg)">
                    <div class="box text-center">
                        <div class="container">
                            <div class="rating animated" data-animation="fadeInDown">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h2 class="title animated h1" data-animation="fadeInDown">
                                A moment of <br /> <span>pure prestige</span>
                            </h2>
                            <div class="desc animated" data-animation="fadeInUp">
                                Lavish social and business events
                            </div>
                            <div class="desc animated" data-animation="fadeInUp">
                                and unforgettable weddings.
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                                <a href="https://themeforest.net/item/colina-hotel-website-template/20977257" class="btn btn-clean">Buy this template</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url(assets/images/slide-1.jpg)">
                    <div class="box text-center">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">
                                The privacy and <br />
                                individuality of a custom
                            </h2>
                            <div class="desc animated" data-animation="fadeInUp">
                                The Residences have their own dedicated private entrance as well <br />
                                as an anonymous "celebrity" entrance, for ultimate privacy.
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                                <a href="#" class="btn btn-clean">Virtual tour</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url(assets/images/slide-2.jpg)">
                    <div class="box text-center">
                        <div class="container">
                            <div class="rating animated" data-animation="fadeInDown">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h2 class="title animated h1" data-animation="fadeInDown">Fairmont managed!</h2>
                            <div class="desc animated" data-animation="fadeInUp">The elegant Champagne Bar, the stylish Colina Club.</div>
                            <div class="desc animated" data-animation="fadeInUp">Guestrooms and luxurious suites</div>
                            <div class="animated" data-animation="fadeInUp">
                                <a href="#" class="btn btn-clean">Get insipred</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!--/owl-slider-->
        </section>

        <!-- ======================== Booking ======================== -->

        <section class="booking booking-inner">

            <div class="section-header hidden">
                <div class="container">
                    <h2 class="title">Booking & reservations</h2>
                </div>
            </div>

            <div class="booking-wrapper">

                <div class="container">
                    <div class="row">

                        <!--=== date arrival ===-->

                        <div class="col-xs-4 col-sm-3">
                            <div class="date" id="dateArrival" data-text="Arrival">
                                <input class="datepicker" readonly="readonly" />
                                <div class="date-value"></div>
                            </div>
                        </div>

                        <!--=== date departure ===-->

                        <div class="col-xs-4 col-sm-3">
                            <div class="date" id="dateDeparture" data-text="Departure">
                                <input class="datepicker" readonly="readonly" />
                                <div class="date-value"></div>
                            </div>
                        </div>

                        <!--=== guests ===-->

                        <div class="col-xs-4 col-sm-2">

                            <div class="guests" data-text="Guests">
                                <div class="result">
                                    <input class="qty-result" type="text" value="2" id="qty-result" readonly="readonly" />
                                    <div class="qty-result-text date-value" id="qty-result-text"></div>
                                </div>
                                <!--=== guests list ===-->
                                <ul class="guest-list">

                                    <li class="header">
                                        Please choose number of guests <span class="qty-apply"><i class="icon icon-cross"></i></span>
                                    </li>

                                    <!--=== adults ===-->

                                    <li class="clearfix">

                                        <!--=== Adults value ===-->

                                        <div>
                                            <input class="qty-amount" value="2" type="text" id="ticket-adult" data-value="2" readonly="readonly" />
                                        </div>

                                        <div>
                                            <span>Adults <small>16+ years</small></span>
                                        </div>

                                        <!--=== Add/remove quantity buttons ===-->

                                        <div>
                                            <input class="qty-btn qty-minus" value="-" type="button" data-field="ticket-adult" />
                                            <input class="qty-btn qty-plus" value="+" type="button" data-field="ticket-adult" />
                                        </div>

                                    </li>

                                    <!--=== chilrens ===-->

                                    <li class="clearfix">

                                        <!--=== Adults value ===-->

                                        <div>
                                            <input class="qty-amount" value="0" type="text" id="ticket-children" data-value="0" readonly="readonly" />
                                        </div>

                                        <!--=== Label ===-->

                                        <div>
                                            <span>Children <small>2-11 years</small></span>
                                        </div>


                                        <!--=== Add/remove quantity buttons ===-->

                                        <div>
                                            <input class="qty-btn qty-minus" value="-" type="button" data-field="ticket-children" />
                                            <input class="qty-btn qty-plus" value="+" type="button" data-field="ticket-children" />
                                        </div>

                                    </li>

                                    <!--=== Infants ===-->

                                    <li class="clearfix">

                                        <!--=== Adults value ===-->

                                        <div>
                                            <input class="qty-amount" value="0" type="text" id="ticket-infants" data-value="0" readonly="readonly" />
                                        </div>

                                        <!--=== Label ===-->

                                        <div>
                                            <span>Infants <small>Under 2 years</small></span>
                                        </div>

                                        <!--=== Add/remove quantity buttons ===-->

                                        <div>
                                            <input class="qty-btn qty-minus" value="-" type="button" data-field="ticket-infants" />
                                            <input class="qty-btn qty-plus" value="+" type="button" data-field="ticket-infants" />
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <!--=== button ===-->

                        <div class="col-xs-12 col-sm-4">
                            <a href="reservation-1.html" class="btn btn-clean">
                                Book now
                                <small>Best Prices Guaranteed</small>
                            </a>
                        </div>

                    </div> <!--/row-->
                </div><!--/booking-wrapper-->
            </div> <!--/container-->
        </section>

        <!-- ========================  Rooms ======================== -->

        <section class="rooms rooms-widget">

            <!-- === rooms header === -->

            <div class="section-header">
                <div class="container">
                    <h2 class="title">Rooms accommodation <a href="{% url 'category' %}" class="btn btn-sm btn-clean-dark">View all</a></h2>
                    <p>Designed as a privileged almost private place where you'll feel right at home</p>
                </div>
            </div>

            <!-- === rooms content === -->

          <div class="container">
                <div class="room-list">
                    {% for room in rooms %}
                        <div class="room-item">
                            <article>
                                <div class="room-image">
                                    <a href="{{ room.get_absolute_url }}">
                                        {% if room.image %}
                                    <img src="{{ room.image.url }}" alt="{{ room.name }}"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="details">
                                    <div class="text">
                                        <h3 class="title"><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></h3>
                                        <p>{{ room.description }}</p>
                                    </div>
                                    <div class="book">
                                        <div>
                                            <a href="{{ room.get_absolute_url }}" class="btn btn-primary">Book now</a>
                                        </div>
                                        <div>
                                            <span class="price h4">{{ room.price_per_night }}</span>
                                            <span>per night</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div><!--/owl-rooms-->
            </div> <!--/container-->

        </section>
    </div> <!--/wrapper-->
</body>
{% endblock %}