{% extends '_base.html' %}
{% load static %}

{% block page_title %}
    List Of Rooms
{% endblock %}


{% block content %}

    <body>

    <div class="page-loader"></div>

    <div class="wrapper">
        <!-- ========================  Header content ======================== -->

        <section class="frontpage-slider">
            <div class="owl-carousel owl-slider owl-slider-header owl-slider-fullscreen">

                <!-- === slide item === -->

                <div class="item" style="background-image:url({% static 'assets/images/room-3.jpg' %})">
                    <div class="box text-center">
                        <div class="container">
                            <div class="rating animated" data-animation="fadeInDown">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h2 class="title animated h1" data-animation="fadeInDown">
                                A moment of <br/> <span>pure prestige</span>
                            </h2>
                            <div class="desc animated" data-animation="fadeInUp">
                                Lavish social and business events
                            </div>
                            <div class="desc animated" data-animation="fadeInUp">
                                and unforgettable weddings.
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url({% static 'assets/images/room-1.jpg' %})">
                    <div class="box text-center">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">
                                The privacy and <br/>
                                individuality of a custom
                            </h2>
                            <div class="desc animated" data-animation="fadeInUp">
                                The Residences have their own dedicated private entrance as well <br/>
                                as an anonymous "celebrity" entrance, for ultimate privacy.
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url({% static 'assets/images/room-2.jpg' %})">
                    <div class="box text-center">
                        <div class="container">
                            <div class="rating animated" data-animation="fadeInDown">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h2 class="title animated h1" data-animation="fadeInDown">Fairmont managed!</h2>
                            <div class="desc animated" data-animation="fadeInUp">The elegant Champagne Bar, the stylish
                                Colina Club.
                            </div>
                            <div class="desc animated" data-animation="fadeInUp">Guestrooms and luxurious suites</div>
                            <div class="animated" data-animation="fadeInUp">
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!--/owl-slider-->
        </section>

        <!-- ========================  Rooms ======================== -->

        <section class="rooms rooms-widget">

            <!-- === rooms content === -->

            <div class="container">

                <div class="custom-rooms owl-theme">

                    <!-- === rooms item === -->
                    {% for room in rooms %}

                        <div class="item">
                            <article>
                                <div class="image">
                                    {% if room.image %}
                                        <img src="{{ room.image.url }}" alt="{{ room.name }}"/>
                                    {% endif %}
                                </div>
                                <div class="details">
                                    <div class="text">
                                        <h3 class="title"><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></h3>
                                        <p>{{ room.description }}</p>
                                    </div>
                                    <div class="book">
                                        <div>
                                            <a href="{{ room.get_absolute_url }}" class="btn btn-main">Book now</a>
                                        </div>
                                        <div>
                                            <span class="price h4">{{ room.price_per_night }}</span>
                                            <span>per night</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}

                </div><!--/owl-rooms-->

            </div> <!--/container-->

        </section>
    </div> <!--/wrapper-->
    </body>
{% endblock %}