{% extends '_base.html' %}

{% block page_title %}
    404 Not Found
{% endblock %}

{% block content %}
<body>

    <div class="page-loader"></div>

    <div class="wrapper">
        <!-- ========================  404 ======================== -->

        <section class="not-found">
            <div class="container">
                <h1 class="title" data-title="404">404</h1>
                <div class="h4 subtitle">Sorry! Page not found.</div>
                <p>The requested URL was not found on this server. That’s all we know.</p>
                <p>Click <a href="#">here</a> to get to the front page? </p>
            </div>
        </section>
    </div> <!--/wrapper-->
</body>

{% endblock %}