{% extends '_base.html' %}
{% load i18n %}

{% block page_title %}
    {% trans '404 Not Found' %}
{% endblock %}

{% block content %}
<body>

    <div class="page-loader"></div>

    <div class="wrapper">
        <!-- ========================  404 ======================== -->

        <section class="not-found">
            <div class="container">
                <h1 class="title" data-title="404">404</h1>
                <div class="h4 subtitle">{% trans 'Sorry! Page not found.' %}</div>
                <p>{% trans 'The requested URL was not found on this server.' %}</p>
            </div>
        </section>
    </div> <!--/wrapper-->
</body>

{% endblock %}