{% load static %}
{% load i18n %}

<footer>
    <div class="container">

        <!--footer links-->
        <div class="footer-links">
            <div class="row">
                <div class="col-sm-6 footer-left">
                     &nbsp; <a href="{% url 'contact' %}">{% trans "Privacy policy" %}</a> | &nbsp; <a href="{% url 'contact' %}">{% trans 'Guest book' %}</a>
                </div>
                <div class="col-sm-6 footer-right">
                    &nbsp; <a href="{% url 'cart:cart_detail' %}">{% trans "Reservations" %}</a> | &nbsp; <a href="{% url 'contact' %}">{% trans 'Help center' %}</a>
                </div>
            </div>
        </div>

        <!--footer social-->

        <div class="footer-social">
            <div class="row">
                <div class="col-sm-12 text-center hidden">
                    <a href="" class="footer-logo"><img src="{% static 'assets/images/logo.png' %}"
                                                        alt="Alternate Text"/></a>
                </div>
                <div class="col-sm-12 icons">
                    <ul>
                        <li><a href="{% url '404' %}"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{% url '404' %}"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="{% url '404' %}"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="{% url '404' %}"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="{% url '404' %}"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-12 copyright">
                    <small>Copyright &copy; 2024
                </div>
                <div class="col-sm-12 text-center">
                    <img src="{% static 'assets/images/logo-footer.png' %}" alt=""/>
                </div>
            </div>
        </div>
    </div>
</footer>