{% load static %}
{% load i18n %}

<header>

    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- ======================== Navigation ======================== -->

    <div class="container">

        <!-- === navigation-top === -->

        <nav class="navigation-top clearfix">

            <!-- navigation-top-left -->

            <div class="navigation-top-left">
                <a class="box" href="{% url '404' %}">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="box" href="{% url '404' %}">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="box" href="{% url '404' %}">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>

            <!-- navigation-top-right -->

            <div class="navigation-top-right">
                <a class="box" href="{% url '404' %}">
                    <i class="icon icon-star"></i>
                    {% trans 'Special offers' %}
                </a>
                <a class="box" href="{% url 'cart:cart_detail' %}">
                    <i class="icon icon-tag"></i>
                    {% trans 'Reservations' %}
                </a>
                <a class="box" href="{% url 'contact' %}">
                    <i class="icon icon-phone-handset"></i>
                    09917303269
                </a>
            </div>
        </nav>

        <!-- === navigation-main === -->

        <nav class="navigation-main clearfix">

            <!-- logo -->

            <div class="logo animated fadeIn">
                <a href="{% url 'home' %}">
                    <img class="logo-desktop" src="{% static 'assets/images/logo.png' %}" alt="Alternate Text"/>
                    <img class="logo-mobile" src="{% static 'assets/images/logo-mobile.png' %}" alt="Alternate Text"/>
                </a>
            </div>

            <!-- toggle-menu -->

            <div class="toggle-menu"><i class="icon icon-menu"></i></div>

            <!-- navigation-block -->

            <div class="navigation-block clearfix">

                <!-- navigation-left -->

                <ul class="navigation-left">
                    <li>
                        <a href="{% url 'home' %}"> {% trans 'Home' %} <span class="open-dropdown"><i
                                class="fa fa-angle-down"></i></span></a>
                        <ul>
                            <li><a href="{% url 'home' %}">{% trans 'Home - Booking intro' %}</a></li>
                            <li><a href="{% url 'home2' %}">{% trans 'Home - Booking box' %}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'rooms_list' %}">{% trans 'List Of Rooms' %}</a>
                    </li>

                    <li>
                        <a href="{% url 'cart:cart_detail' %}">{% trans 'Cart' %}</a>
                    </li>

                </ul>

                <!-- navigation-right -->

                <ul class="navigation-right">

                    <li>
                        <a href="{% url 'aboutus' %}">{% trans 'About us' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'facilities' %}">{% trans 'Facilities' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">{% trans 'Contact' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'blog_item' %}">{% trans 'Blog' %}</a>
                    </li>
                </ul>

            </div> <!--/navigation-block-->

        </nav>
    </div> <!--/container-->

</header>