{% extends '_base.html' %}
{% load static %}

{% block page_title %}
    Hotel - Booking Box
{% endblock %}

{% block content %}

    <body>

    <div class="page-loader"></div>

    <div class="wrapper">
        <section class="frontpage-slider">
            <div class="owl-slider owl-slider-header">

                <!-- === slide item === -->

                <div class="item" style="background-image:url({% static 'assets/images/hotel.jpg' %})">
                    <div class="box box-bottom text-right">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">
                                The privacy and <br/>
                                <span>individuality of a custom</span>
                            </h2>
                            <div class="desc animated" data-animation="fadeInUp">
                                The Residences have their own dedicated private entrance as well <br/>
                                as an anonymous "celebrity" entrance, for ultimate privacy.
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url({% static 'assets/images/hotell.jpg' %})">
                    <div class="box box-bottom text-center">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">
                                A moment of <br/> <span>pure prestige</span>
                            </h2>
                            <div class="desc animated" data-animation="fadeInUp">
                                Lavish social and business events
                            </div>
                            <div class="desc animated" data-animation="fadeInUp">
                                and unforgettable weddings.
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                                <a href="https://themeforest.net/item/colina-hotel-website-template/20977257"
                                   class="btn btn-clean">Buy this template</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url({% static 'assets/images/hote.jpg' %})">
                    <div class="box box-bottom text-center">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">Fairmont managed!</h2>
                            <div class="desc animated" data-animation="fadeInUp">The elegant Champagne Bar, the stylish
                                Colina Club.
                            </div>
                            <div class="desc animated" data-animation="fadeInUp">Guestrooms and luxurious suites</div>
                            <div class="animated" data-animation="fadeInUp">
                                <a href="#" class="btn btn-clean">Get insipred</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!--/owl-slider-->
        </section>

        <!-- ========================  Stretcher widget ======================== -->

        <section class="stretcher-wrapper">

            <!-- === stretcher header === -->

            <div class="section-header">
                <div class="container">
                    <h2 class="title">Resort facilities <a href="{% url 'facilities' %}"
                                                           class="btn btn-sm btn-clean-dark">Explore more</a></h2>
                    <p>
                        With the best luxury spa, salon and fitness experiences
                    </p>
                </div>
            </div>

            <!-- === stretcher === -->

            <ul class="stretcher">

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url({% static 'assets/images/spacenter.jpg' %}">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro h4">Spa center</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Spa center</h4>
                        <figcaption>Unparalleled devotion to luxury</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="{% url 'facilities' %}">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url({% static 'assets/images/gym.jpg' %});">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro h4">Gym</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Gym</h4>
                        <figcaption>Care about results</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="{% url 'facilities' %}">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url({% static 'assets/images/fitness.jpg' %});">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro h4">Fitness</span>
                        </div>
                    </div>
                    <figure>
                        <h4>Fitness</h4>
                        <figcaption>Your daily activities</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="{% url 'facilities' %}">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url({% static 'assets/images/beautysalon.jpg' %});">


                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro h4">Beauty salon</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Beauty salon</h4>
                        <figcaption>Hair salons and spas</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="{% url 'facilities' %}">Anchor link</a>
                </li>

                <!-- === stretcher item more === -->

                <li class="stretcher-item more">
                    <div class="more-icon">
                        <span data-title-show="Show more" data-title-hide="+"></span>
                    </div>
                    <a href="{% url 'facilities' %}">Anchor link</a>
                </li>

            </ul>
        </section>

        <!-- ========================  Cards ======================== -->

        <section class="cards">

            <!-- === cards header === -->

            <div class="section-header">
                <div class="container">
                    <h2 class="title">Near by <a href="{% url '404' %}" class="btn btn-sm btn-clean-dark">View all</a></h2>
                    <p>Here's a selection of ionic sites related to art, fashion and design.</p>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <!-- === item === -->

                    <div class="col-xs-12 col-md-8">
                        <figure>
                            <figcaption style="background-image:url({% static 'assets/images/museum.jpg' %})">
                                <img src="{% static 'assets/images/activity-1.jpg' %}" alt=""/>
                            </figcaption>
                            <a href="{% url '404' %}" class="btn btn-clean" onclick="">Museums</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-xs-6 col-md-4">
                        <figure>
                            <figcaption style="background-image:url({% static 'assets/images/night.jpg' %})">
                                <img src="{% static 'assets/images/activity-2.jpg"' %} alt="" />
                            </figcaption>
                            <a href="{% url '404' %}" class="btn btn-clean">Nightlife</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-xs-6 col-md-4">
                        <figure>
                            <figcaption style="background-image:url({% static 'assets/images/food-drink.jpg' %})">
                                <img src="{% static 'assets/images/activity-2.jpg' %}" alt=""/>
                            </figcaption>
                            <a href="{% url '404' %}" class="btn btn-clean">Food & drink</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-xs-6 col-md-4">
                        <figure>
                            <figcaption style="background-image:url({% static 'assets/images/shopping.jpg' %})">
                                <img src="{% static 'assets/images/activity-4.jpg' %}" alt=""/>
                            </figcaption>
                            <a href="{% url '404' %}" class="btn btn-clean">Shopping</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-xs-6 col-md-4">
                        <figure>
                            <figcaption style="background-image:url({% static 'assets/images/city-life.jpg' %})">
                                <img src="{% static 'assets/images/activity-5.jpg' %}" alt=""/>
                            </figcaption>
                            <a href="{% url '404' %}" class="btn btn-clean">The City</a>
                        </figure>
                    </div>

                </div> <!--/row-->

            </div> <!--/container-->
        </section>

        <!-- ======================== Facilities ======================== -->

        <section class="facilities">

            <div class="section-header text-center">
                <div class="container">
                    <h2 class="title">Hotel services</h2>
                    <p>Experience & aminities</p>
                </div>
            </div>

            <div class="container">
                <div class="facilities-wrapper">
                    <div class="row">

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-roomservice"></span>
                                    <p class="title">Roomservice</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-wifi"></span>
                                    <p class="title">Free Wifi</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-kitchen"></span>
                                    <p class="title">Resturant</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-coctail"></span>
                                    <p class="title">Coctail bar</p>
                                </figcaption>
                            </figure>
                        </div>


                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-parking"></span>
                                    <p class="title">Free parking</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-pool"></span>
                                    <p class="title">Pool</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-elevator"></span>
                                    <p class="title">Elevator</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-keys"></span>
                                    <p class="title">Private rooms</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        
    </div> <!--/wrapper-->


{% endblock %}