{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
    {% trans 'Hotel - Booking Box' %}
{% endblock %}

{% block content %}

    <body>

    <div class="page-loader"></div>

    <div class="wrapper">
        <section class="frontpage-slider">
            <div class="owl-slider owl-slider-header">

                <!-- === slide item === -->

                <div class="item" style="background-image:url({% static 'assets/images/hotel.jpg' %})">
                    <div class="box box-bottom text-right">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">
                                {% trans 'The privacy and' %} <br/>
                                <span>{% trans 'individuality of a custom' %}</span>
                            </h2>
                            <div class="desc animated" data-animation="fadeInUp">
                                {% trans 'The Residences have their own dedicated private entrance as well' %} <br/>
                                {% trans 'as an anonymous "celebrity" entrance, for ultimate privacy.' %}
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url({% static 'assets/images/hotell.jpg' %})">
                    <div class="box box-bottom text-center">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">
                                {% trans 'A moment of' %} <br/> <span>{% trans 'pure prestige' %}</span>
                            </h2>
                            <div class="desc animated" data-animation="fadeInUp">
                                {% trans 'Lavish social and business events' %}
                            </div>
                            <div class="desc animated" data-animation="fadeInUp">
                                {% trans 'and unforgettable weddings.' %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url({% static 'assets/images/hote.jpg' %})">
                    <div class="box box-bottom text-center">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">{% trans 'Fairmont managed!' %}</h2>
                            <div class="desc animated" data-animation="fadeInUp">{% trans 'The elegant Champagne Bar, the stylish Colina Club.' %}
                            </div>
                            <div class="desc animated" data-animation="fadeInUp">{% trans 'Guestrooms and luxurious suites' %}</div>
                        </div>
                    </div>
                </div>

            </div> <!--/owl-slider-->
        </section>

        <!-- ========================  Stretcher widget ======================== -->

        <section class="stretcher-wrapper">

            <!-- === stretcher header === -->

            <div class="section-header">
                <div class="container">
                    <h2 class="title">{% trans 'Resort facilities' %} <a href="{% url 'facilities' %}"
                                                           class="btn btn-sm btn-clean-dark">{% trans 'Explore more' %}</a></h2>
                    <p>
                        {% trans 'With the best luxury spa, salon and fitness experiences' %}
                    </p>
                </div>
            </div>

            <!-- === stretcher === -->

            <ul class="stretcher">

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url({% static 'assets/images/spacenter.jpg' %}">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro h4">{% trans 'Spa center' %}</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>{% trans 'Spa center' %}</h4>
                        <figcaption>{% trans 'Unparalleled devotion to luxury' %}</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="{% url 'facilities' %}">{% trans 'Anchor link' %}</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url({% static 'assets/images/gym.jpg' %});">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro h4">{% trans 'Gym' %}</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>{% trans 'Gym' %}</h4>
                        <figcaption>{% trans 'Care about results' %}</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="{% url 'facilities' %}">{% trans 'Anchor link' %}</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url({% static 'assets/images/fitness.jpg' %});">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro h4">{% trans 'Fitness' %}</span>
                        </div>
                    </div>
                    <figure>
                        <h4>Fitness</h4>
                        <figcaption>{% trans 'Your daily activities' %}</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="{% url 'facilities' %}">{% trans 'Anchor link' %}</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url({% static 'assets/images/beautysalon.jpg' %});">


                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro h4">{% trans 'Beauty salon' %}</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>{% trans 'Beauty salon' %}</h4>
                        <figcaption>{% trans 'Hair salons and spas' %}</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="{% url 'facilities' %}">{% trans 'Anchor link' %}</a>
                </li>

                <!-- === stretcher item more === -->

                <li class="stretcher-item more">
                    <div class="more-icon">
                        <span data-title-show="{% trans 'Show more' %}" data-title-hide="+"></span>
                    </div>
                    <a href="{% url 'facilities' %}">{% trans 'Anchor link' %}</a>
                </li>

            </ul>
        </section>

        <!-- ========================  Cards ======================== -->

        <section class="cards">

            <!-- === cards header === -->

            <div class="section-header">
                <div class="container">
                    <h2 class="title">{% trans 'Near by' %} <a href="{% url '404' %}" class="btn btn-sm btn-clean-dark">{% trans 'View all' %}</a></h2>
                    <p>{% trans "Here's a selection of ionic sites related to art, fashion and design." %}</p>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <!-- === item === -->

                    <div class="col-xs-12 col-md-8">
                        <figure>
                            <figcaption style="background-image:url({% static 'assets/images/museum.jpg' %})">
                                <img src="{% static 'assets/images/activity-1.jpg' %}" alt=""/>
                            </figcaption>
                            <a href="{% url '404' %}" class="btn btn-clean" onclick="">{% trans 'Museums' %}</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-xs-6 col-md-4">
                        <figure>
                            <figcaption style="background-image:url({% static 'assets/images/night.jpg' %})">
                                <img src="{% static 'assets/images/activity-2.jpg' %}" alt=""/>
                            </figcaption>
                            <a href="{% url '404' %}" class="btn btn-clean">{% trans 'Nightlife' %}</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-xs-6 col-md-4">
                        <figure>
                            <figcaption style="background-image:url({% static 'assets/images/food-drink.jpg' %})">
                                <img src="{% static 'assets/images/activity-2.jpg' %}" alt=""/>
                            </figcaption>
                            <a href="{% url '404' %}" class="btn btn-clean">{% trans 'Food & drink' %}</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-xs-6 col-md-4">
                        <figure>
                            <figcaption style="background-image:url({% static 'assets/images/shopping.jpg' %})">
                                <img src="{% static 'assets/images/activity-4.jpg' %}" alt=""/>
                            </figcaption>
                            <a href="{% url '404' %}" class="btn btn-clean">{% trans 'Shopping' %}</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-xs-6 col-md-4">
                        <figure>
                            <figcaption style="background-image:url({% static 'assets/images/city-life.jpg' %})">
                                <img src="{% static 'assets/images/activity-5.jpg' %}" alt=""/>
                            </figcaption>
                            <a href="{% url '404' %}" class="btn btn-clean">{% trans 'The City' %}</a>
                        </figure>
                    </div>

                </div> <!--/row-->

            </div> <!--/container-->
        </section>

        <!-- ======================== Facilities ======================== -->

        <section class="facilities">

            <div class="section-header text-center">
                <div class="container">
                    <h2 class="title">{% trans 'Hotel services' %}</h2>
                    <p>{% trans 'Experience & aminities' %}</p>
                </div>
            </div>

            <div class="container">
                <div class="facilities-wrapper">
                    <div class="row">

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-roomservice"></span>
                                    <p class="title">{% trans 'Roomservice' %}</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-wifi"></span>
                                    <p class="title">{% trans 'Free Wifi' %}</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-kitchen"></span>
                                    <p class="title">{% trans 'Resturant' %}</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-coctail"></span>
                                    <p class="title">{% trans 'Coctail bar' %}</p>
                                </figcaption>
                            </figure>
                        </div>


                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-parking"></span>
                                    <p class="title">{% trans 'Free parking' %}</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-pool"></span>
                                    <p class="title">{% trans 'Pool' %}</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-elevator"></span>
                                    <p class="title">{% trans 'Elevator' %}</p>
                                </figcaption>
                            </figure>
                        </div>

                        <!--=== item ===-->

                        <div class="col-xs-6 col-sm-3">
                            <figure>
                                <figcaption>
                                    <span class="hotelicon hotelicon-keys"></span>
                                    <p class="title">{% trans 'Private rooms' %}</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        
    </div> <!--/wrapper-->


{% endblock %}